@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-webkit-tap-highlight-color: transparent;
	}
}

* {
	touch-action: manipulation;
}

/* Need this to prevent modal from covering notifications */
#svelte div.notifications {
	z-index: 42069;
}
