@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-webkit-tap-highlight-color: transparent;
	}
}

* {
	touch-action: manipulation;
}

html {
	height: -webkit-fill-available;
	-webkit-text-size-adjust: 100%;
}
